
.PageLayout{

}
.navbar1 {
    background-color: #282c34;
  }
.navbar-brand {
    background-color: #282c34;
    color: aliceblue;
}  
.companyname {
    color: aliceblue;
    font-family: cursive;
}
.App-title {
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }